*.cbp
*.sdf
*.suo
*.user
*.opensdf
ipch
Debug
Release
Makefile
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
.cmake/
fann-config.cmake
fann.pc
install_manifest.txt
*~
*.sln
*.suo
*.filters
*.vcxproj
*.a
*.so
libfann.so*
libdoublefann.so*
libfixedfann.so*
libfloatfann.so*
tests/fann_tests
Testing/
generated/
tmpFile
tmpfile
cascade_train.net
cascade_train2.net
mushroom_float.net
robot_float.net
scaling.net

/VS2010/.vs/
/bin/
